body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: aqua;
}
h1{
    color:black;
}

input, select{
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
    width: 200px;
    border:1px solid black;
}

button{
    background-color: violet;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover{
    background-color: darkviolet;
}

p{
    font-size: 18px;
    font-weight: bold;
    color:#333;
    margin: 20px 0;
}

#converted{
    color:blue;
    font-size: large;
    font-weight: bold;
}